@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-3">Create New Category</a>

<table class="table table-striped table-responsive">
    <tr class="">
        <th>Name</th>
        <th>Display order</th>
    </tr>
    @foreach (Category obj in Model)
    {
        <tr class="">

            <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
        </tr>
    }
</table>




